*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{
  max-width: 1300px;
  margin: auto;
}
.mark{
    width: 1200px;
    height: 600px;
    object-fit: cover;
}
.font-30{
    font-size: 60px;
}
@media (max-width:1050px) and (min-width: 760px) {
   
.font-30{
    font-size: 40px;
}
}
@media (max-width:759px) and (min-width: 600px) {
   
.font-30{
    font-size: 30px;
}
}

@media (max-width:599px) and (min-width: 470px) {
   
    .font-30{
        font-size: 23px;
    }
    }
    

@media (max-width:469px) and (min-width: 330px) {
   
    .font-30{
        font-size: 17px;
    }
}


@media (max-width:329px) and (min-width: 270px) {
   
    .font-30{
        font-size: 14px;
    }
}


@media (max-width:269px) and (min-width: 200px) {
   
    .font-30{
        font-size: 11px;
    }
}
.top-left{
    top: 10%;
    left: 5%;
}
.font-color{
    color: aqua;
}

@property --num {
    syntax: "<integer>";
    initial-value: 1000;
    inherits: false;
  }
  
.membership{
    animation: counter 5s 1  ease-in-out;
    counter-reset: num var(--num);
    font: 800 40px system-ui;
    padding: 2rem;
  }
.membership::after {
    content: counter(num);
  
  }
  
  @keyframes counter {
    from {
      --num: 0;
    }
    to {
      --num: 1000;
    }
  }
  
@property --numtwo {
    syntax: "<integer>";
    initial-value: 500;
    inherits: false;
  }
  
.companies{
    animation: countertwo 4s 1  ease-in-out;
    counter-reset: numtwo var(--numtwo);
    font: 800 40px system-ui;
    padding: 2rem;
  }
.companies::after {
    content: counter(numtwo);
   
  }
  
  @keyframes countertwo {
    from {
      --numtwo: 0;
    }
    to {
      --numtwo: 500;
    }
  }
  
@property --num3 {
  syntax: "<integer>";
  initial-value: 100;
  inherits: false;
}

.traniers{
  animation: counter3 3s 1  ease-in-out;
  counter-reset: num3 var(--num3);
  font: 800 40px system-ui;
  padding: 2rem;
}
.traniers::after {
  content: counter(num3);
 
}

@keyframes counter3 {
  from {
    --num3: 0;
  }
  to {
    --num3: 100;
  }
}

@property --num4 {
  syntax: "<integer>";
  initial-value: 10;
  inherits: false;
}

.year{
  animation: year 2s 1  ease-in-out;
  counter-reset: num4 var(--num4);
  font: 800 40px system-ui;
  padding: 2rem;
}
.year::after {
  content: counter(num4);
 
}

@keyframes year {
  from {
    --num4: 0;
  }
  to {
    --num4: 10;
  }
}